* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
content: ''; 
clear: both;
display: block;
}
.color-blue {
	color: blue;
}

.color-red {
	color: red;
}

.color-blueviolet {
	color: blueviolet;
}

.links>a {
	font-size: 20px;
	color: coral;
}

.links {
	margin-top: 20px;
}

.links>a+a {
	margin-left: 20px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}


.bg-color-red {
	background: red;
}

.bg-color-pink {
	background: pink;
}

.bg-color-greenyellow {
	background: greenyellow;
}

.bg-color-yellow {
	background: yellow;
}

.bg-color-paleturguois {
	background: yellowgreen;
}

.bg-color-orange {
	background: orange;
}

.bg-color-paleturguois {
	background: yellowgreen;
}

.bg-color-green {
	background: green;
}

.bg-color-violet {
	background: violet;
}

.top-color>td+td {
	background: yellowgreen;
}

.bg-color-red {
	background: red;
}

.bg-color-deeppink {
	background: deeppink;
}

.bg-color-pink {
	background: pink;
}

table,
td, th {
	border: 2px solid black;
}

th, td {
	width: 70px;
	height: 70px;
}

.header>tr>tr+tr {
	color: deeppink;
}
                      /* home work 5    */

.main-box div {
outline: 2px solid black;
} 
.first-box  {
font-size: 0;
background: yellow;
}
.first-box > div {
display: inline-block;
font-size: 20px;
width: 400px;
height: 400px;
}
.second-box {
font-size: 0;
background: gold;
}
.second-box-one, .second-box-two {
display: inline-block;
font-size: 20px;
width: 800px;
}
.second-box-one > div {
height: 200px;
}
.second-box-two {
width: 400px;
background: blueviolet;
}
.second-box-two > div {
height: 133.33px;
}

.third-box {
font-size: 0;
background: green;
}

.third-box-one {
	display: inline-block;
	font-size: 20px;
	width: 400px;
	height: 400px;
	background: blueviolet;
}

.third-box-two {
	display: inline-block;
	font-size: 20px;
	width: 800px;
}

.third-box-two > div {
	height: 200px;
}
.third-box-two > div + div {
	height: auto;
	}
	.third-box-two-botton {
		font-size: 20px;
	}
	.third-box-two-botton > div {
		width: 400px;
		height: 200px;
		display: inline-block;
		font-size: 20px;
	}
	.third-box-two-botton > div + div {
		height: auto;
	}
	.third-box-two-botton > div + div > div {
		height: 100px;
	}
	

                             /* HW 6 */

    .float-box div {
    outline: 2px solid black;
	} 
	.float-first {
		background: pink;
	}

	.float-first > div {
		float: left;
		width: 400px;
		height: 400px;
	}

	.float-second  {
		background: greenyellow;
	}
	.float-second > div {
		float: left;
	}
	.float-second-one {
		width: 800px;
	}
	.float-second-one > div {
		height: 200px;
	}
	.float-second-two {
		width: 400px;
	}
	.float-second-two > div {
		height: 133.33px;
	}
    .float-thirt {
	background: blueviolet;
}
.float-thirt > div {
	float: left;
}
.float-thirt-one {
	width: 400px;
	height: 400px;
}
.float-thirt-two {
	width: 800px;
}
.float-thirt-two > div {
	height: 200px;
}
.float-thirt-two >div + div {
	height: auto;
}
.float-thirt-two-botton {
	background: green;
}
.float-thirt-two-botton > div {
	float: left;
	width: 400px;
	height: 200px;
}
.float-thirt-two-botton > div + div {
height: auto;
}
.float-thirt-two-botton > div + div > div {
height: 100px;
}



          /* HW 7 */

		  .flex-box div {
			outline: 2px solid black;
			} 
			.flex-first {
				background: pink;
			}
		
			.flex-first > div {
				float: left;
				width: 400px;
				height: 400px;
			}
		
			.flex-second  {
				background: greenyellow;
			}
			.flex-second > div {
				float: left;
			}
			.float-second-one {
				width: 800px;
			}
			.float-second-one > div {
				height: 200px;
			}
			.float-second-two {
				width: 400px;
			}
			.float-second-two > div {
				height: 133.33px;
			}
			.flex-thirt {
			background: blueviolet;
		}
		.flex-thirt > div {
			float: left;
		}
		.float-thirt-one {
			width: 400px;
			height: 400px;
		}
		.float-thirt-two {
			width: 800px;
		}
		.float-thirt-two > div {
			height: 200px;
		}
		.float-thirt-two >div + div {
			height: auto;
		}
		.flex-thirt-two-botton {
			background: green;
		}
		.flex-thirt-two-botton > div {
			float: left;
			width: 400px;
			height: 200px;
		}
		.float-thirt-two-botton > div + div {
		height: auto;
		}
		.float-thirt-two-botton > div + div > div {
		height: 100px;
		}
		