*{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.color-blue {
color: blue;
}
.color-red {
color: red;
}
.color-blueviolet {
	color: blueviolet;
}

.links > a {
	font-size: 20px;
	color: coral;
}
.links {
	margin-top: 20px;
}
.links > a + a {
margin-left: 20px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


.bg-color-red {
background: red ;	
}

.bg-color-pink {
background: pink;	
}

.bg-color-greenyellow {
background:greenyellow;	
	}
	.bg-color-yellow {
	background: yellow;
	}
   .bg-color-paleturguois {
    background: yellowgreen;
	}
   .bg-color-orange {
	background: orange;	
	}
   .bg-color-paleturguois {
	background: yellowgreen;	
	}
    .bg-color-green {
    background: green;	
	}
     .bg-color-violet {
		background: violet;
	 }
	
.top-color > td + td {
background: yellowgreen;
}
.bg-color-red {
	background: red;
}
.bg-color-deeppink {
	background: deeppink;
}
.bg-color-pink {
	background: pink;
}

table, td, th {
    border: 2px solid black;
}
th, td {
width: 70px; 
height: 70px;
}
.header > tr> tr +tr { 
    color: deeppink;

}
